<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About Me</h2>
      </div>
    </div>
    <div class="row">
      {% for member in site.people %}
      <div class="col-sm-3">
        <div class="team-member">
          <img
            src="img/team/{{ member.pic }}.jpg"
            class="img-responsive img-circle"
            alt=""
          />
          <h4>{{ member.name }}</h4>
          <p class="text-muted">
            {{ member.position }}
            <br />University of Tennessee<br />

            <a href="https://tiny.utk.edu/wu-cv" target="_blank"
              >Curriculum Vitae</a
            ><br /><a href="https://faculty.utk.edu/Qiusheng.Wu" target="_blank"
              >Faculty page @ UTK</a
            ><br /><a
              href="https://geography.utk.edu/people/instructional-faculty/wu-qiusheng/"
              target="_blank"
              >Faculty page @ UTK Geography</a
            >
            <br />Pronunciation:
            <a href="https://www.howtopronounce.com/qiusheng-wu" target="_blank"
              >Chyoo-sheng Woo</a
            ><br />
          </p>
          <ul class="list-inline social-buttons">
            {% for network in member.social %}
            <li>
              <a href="{{ network.url }}">
                <i class="fa fa-{{ network.title }}"></i>
              </a>
            </li>
            {% endfor %}
          </ul>
          <a href="https://leanpub.com/gispro" target="_blank"
            ><img
              src="https://assets.gishub.org/images/gispro-book-cover.png"
              class="img-responsive img-centered"
              alt="youtube"
            />Leanpub</a
          >
          |
          <a href="https://amazon.com/dp/B0FFW34LL3" target="_blank">Amazon</a>
          |
          <a href="https://gispro.gishub.org" target="_blank">Source Code</a>
          <a href="https://leanpub.com/duckdb" target="_blank"
            ><img
              src="https://books.gishub.org/duckdb/front-cover.webp"
              class="img-responsive img-centered"
              alt="youtube"
            />Leanpub</a
          >
          |
          <a href="https://amazon.com/dp/B0G2JFMFFC" target="_blank">Amazon</a>
          |
          <a href="https://duckdb.gishub.org" target="_blank">Source Code</a>
        </div>
        <!-- <div class="team-member">
          <a
            href="https://twitter.com/giswqs?ref_src=twsrc%5Etfw"
            class="twitter-follow-button"
            data-size="large"
            data-show-count="true"
            >Follow @giswqs</a
          >
          <script
            async="async"
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
          <a
            class="twitter-timeline"
            data-height="340"
            href="https://twitter.com/giswqs?ref_src=twsrc%5Etfw"
            >Tweets by giswqs</a
          >
          <script
            async="async"
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div> -->
      </div>
      <div class="col-lg-8 col-lg-offset-1">
        <p class="large">
          Dr. Qiusheng Wu is an Associate Professor in the Department of
          Geography & Sustainability at the University of Tennessee, Knoxville.
          He is also an Amazon Scholar. Dr. Wu’s research focuses on advancing
          open-source geospatial analytics through cloud computing and GeoAI. He
          is the creator and maintainer of several widely used open-source
          Python packages, including Geemap, Leafmap, SAMGeo, and GeoAI, which
          integrate cloud-based geospatial platforms with AI-powered analysis
          and visualization. Dr. Wu’s work bridges remote sensing, Earth
          observation, and artificial intelligence to make large-scale
          geospatial data more accessible, reproducible, and intelligent for
          researchers, educators, and practitioners worldwide. His open-source
          projects can be found on GitHub at
          <a href="https://github.com/opengeos" target="_blank"
            >https://github.com/opengeos</a
          >.
        </p>
        <p class="large">
          <strong>Academic Profiles:</strong><br />
          <a href="https://arcgis.me/scholar" target="_blank">Google Scholar</a>
          |
          <a
            href="https://www.researchgate.net/profile/Qiusheng_Wu"
            target="_blank"
            >ResearchGate</a
          >
          |
          <a href="https://orcid.org/0000-0001-5437-4073" target="_blank"
            >ORCID</a
          >
          |
          <a
            href="https://publons.com/author/562526/qiusheng-wu"
            target="_blank"
            >Publons</a
          >
          |
          <a href="https://github.com/opengeos" target="_blank">GitHub</a>
          |
          <a href="https://medium.com/@giswqs" target="_blank">Medium</a>
          |
          <a
            href="https://figshare.com/authors/Qiusheng_Wu/6941777"
            target="_blank"
            >Figshare</a
          >
          |
          <a href="https://blog.gishub.org" target="_blank">Blog</a>
          |
          <a href="https://www.youtube.com/@giswqs" target="_blank">YouTube</a>
        </p>
        <p class="large">
          <strong>Appointments:</strong><br />
          &bull; 2025–now &emsp; Amazon Scholar<br />
          &bull; 2024–now &emsp; Director of Graduate Studies, Department of
          Geography & Sustainability, UTK<br />
          &bull; 2023–now &emsp; Associate Professor, Department of Geography &
          Sustainability, UTK<br />
          &bull; 2022–2025 &emsp; Amazon Visiting Academic<br />
          &bull; 2022–now &emsp; Director of
          <a href="https://tnview.utk.edu" target="_blank">TennesseeView</a>, a
          Tennessee Remote Sensing Consortium<br />
          &bull; 2023–2024 &emsp; Senior Research Fellow, United Nations
          University (<a href="https://inweh.unu.edu" target="_blank"
            >UNU-INWEH</a
          >)<br />
          &bull; 2021–2024 &emsp; Associate Graduate Director, Department of
          Geography, University of Tennessee<br />
          &bull; 2019–2023 &emsp; Assistant Professor, Department of Geography &
          Sustainability, UTK<br />
          &bull; 2018–2019 &emsp; Graduate Director, Department of Geography,
          Binghamton University (SUNY)<br />
          &bull; 2015–2019 &emsp; Assistant Professor, Department of Geography,
          Binghamton University (SUNY)<br />
        </p>

        <p class="large">
          <strong>Editorships:</strong><br />
          &bull; 2023–now &emsp; Associate Editor,
          <a
            href="https://www.sciencedirect.com/journal/international-journal-of-applied-earth-observation-and-geoinformation/about/editorial-board"
            target="_blank"
          >
            International Journal of Applied Earth Observation and
            Geoinformation</a
          ><br />
          &bull; 2016–2025 &emsp; Associate Editor,
          <a
            href="https://www.springer.com/journal/13157/editors"
            target="_blank"
            >Wetlands</a
          ><br />
        </p>

        <p class="large">
          <strong>Open-source Packages/Apps for Geospatial Analysis:</strong
          ><br />
          &bull; R Packages:
          <a href="https://github.com/opengeos/whiteboxR" target="_blank"
            >whiteboxR</a
          >
          <br />
          &bull; Python Packages:
          <a href="https://github.com/opengeos/geemap" target="_blank"
            >geemap</a
          >
          |
          <a href="https://github.com/opengeos/leafmap" target="_blank"
            >leafmap</a
          >
          |
          <a href="https://github.com/opengeos/geospatial" target="_blank"
            >geospatial</a
          >
          |
          <a href="https://github.com/opengeos/lidar" target="_blank">lidar</a>
          |
          <a href="https://github.com/opengeos/whitebox" target="_blank"
            >whitebox</a
          >
          |
          <a href="https://github.com/opengeos/pygis" target="_blank">pygis</a>
          |
          <a
            href="https://github.com/opengeos/streamlit-geospatial"
            target="_blank"
            >streamlit-geospatial</a
          ><br />
          &bull; Google Earth Engine:
          <a href="https://github.com/giswqs/Wetland-Hydro-GEE" target="_blank"
            >Wetland Inundation Mapping</a
          >
          |
          <a href="https://giswqs.users.earthengine.app/" target="_blank"
            >Earth Engine Apps</a
          >
          |
          <a
            href="https://github.com/opengeos/qgis-earthengine-examples"
            target="_blank"
            >QGIS EE Examples</a
          ><br />
          &bull; ArcGIS Toolboxes:
          <a href="https://doi.org/10.6084/m9.figshare.8866178" target="_blank"
            >Depression Identification Analyst</a
          >
          |
          <a href="https://doi.org/10.6084/m9.figshare.8866025" target="_blank"
            >Wetland Hydrology Analyst</a
          >
          |
          <a href="https://doi.org/10.6084/m9.figshare.8866400" target="_blank"
            >Drumlin Extraction Toolbox</a
          >
          |
          <a href="https://doi.org/10.6084/m9.figshare.8865839" target="_blank"
            >Level-Set Toolbox</a
          >
          |
          <a
            href="https://github.com/opengeos/WhiteboxTools-ArcGIS"
            target="_blank"
            >WhiteboxTools-ArcGIS</a
          >
        </p>
        <p class="large">
          <strong
            >Check out Dr. Wu's
            <a href="https://youtube.com/@giswqs" target="_blank"
              >YouTube Channel</a
            >
            for video tutorials on cloud computing and open geospatial:</strong
          ><br />
          <!-- <div class="col-md-1"></div> -->
          <a href="https://www.youtube.com/@giswqs" target="_blank"
            ><img
              src="https://wetlands.io/file/images/youtube2024.jpeg"
              class="img-responsive img-centered"
              alt="youtube"
              width="750"
          /></a>
          <!-- </div> -->
        </p>
      </div>

      {% endfor %}
    </div>
  </div>
</section>
