<!-- Awards Section -->
    <section id="awards" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Awards and Honors</h2>
                </div>
            </div>
            <div class="container" align="left" >
                <ul>
                    <li style="margin: 10px">2018   <a href="https://www.microsoft.com/en-us/aiforearth" target="_blank">AI for Earth Microsoft Azure and Esri Award</a>, Microsoft & Esri</li>
                    <li style="margin: 10px">2017   <a href="files/awards/2017_Publons.pdf" target="_blank">Top 1% of Peer Reviewers in Multidisciplinary</a>, Publons</li>
                    <li style="margin: 10px">2017   <a href="files/awards/2017_Teaching_Award.pdf" target="_blank">Harpur College's Teaching Award</a> - Best Instructor of Graduate Classes, Binghamton University</li>
                    <li style="margin: 10px">2017   <a href="files/awards/2017_AAG_Research_Grant.pdf" target="_blank">AAG Research Grant Award</a>. Association of American Geographers (AAG)</li>
                    <li style="margin: 10px">2017   Dean’s Research Semester Award. Harpur College of Arts and Sciences, Binghamton University</li>
                    <li style="margin: 10px">2016   Presidential Discretionary Award for Outstanding Scholarly Contributions. Binghamton University</li>
                    <li style="margin: 10px">2016   <a href="files/awards/publons_2016.pdf" target="_blank">Sentinel of Science Award Recipient</a> (Top 10% of reviewers in the field of Earth and Planetary Sciences by Publons)</li>
                    <li style="margin: 10px">2015   Finalist, Honors Competition for Student Papers, Remote Sensing Specialty Group, Association of American Geographers (AAG) Annual Meeting</li>
                    <li style="margin: 10px">2013   <a href="files/awards/UC_McNee_AWARD_2013.pdf" target="_blank">Robert Bruce McNee Award</a> for Outstanding Academic Achievements, Department of Geography, University of Cincinnati</li>
                    <li style="margin: 10px">2013   <strong>First Place</strong>, <a href="files/awards/UC_POSTER_AWARD_2013.pdf" target="_blank">Graduate Poster Forum Award</a>, University of Cincinnati</li>
                    <li style="margin: 10px">2012   Summer Graduate Student Research Fellowship, University of Cincinnati</li>
                    <li style="margin: 10px">2012   <a href="files/awards/GIESN_Award.pdf" target="_blank"> Excellent Graduate Research Award</a>, Center for Geospatial Information and Environmental Sensor Networks (GIESN), University of Cincinnati</li>
                    <li style="margin: 10px">2012   <a href="files/awards/AAG2012Certificate.pdf" target="_blank">Student Travel Grants</a>, International Geographic Information Fund (IGIF), Association of American Geographers (AAG)</li>
                    <li style="margin: 10px">2010   <strong>First Place</strong>, <a href="files/awards/AAG2010Certificate.pdf" target="_blank">Student Paper Competition</a>, GIS Specialty Group, Association of American Geographers (AAG) Annual Meeting</li>
                    <li style="margin: 10px">2010   <strong>Second Place</strong>, <a href="files/awards/OhioView_poster_2009.PDF" target="_blank">Student Poster Competition</a>, OhioView SATELLITES Geospatial Technology Conference</li>
                    <li style="margin: 10px">2009   Student Travel Award, GIS Specialty Group, Association of American Geographers (AAG) Annual Meeting</li>
                </ul>
            </div>
        </div>
    </section>
