<!-- Awards Section -->
<section id="awards" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Awards and Honors</h2>
      </div>
    </div>
    <div class="container" align="left">
      <ul>
        <li style="margin: 10px">
          2025   UT Libraries’ Paul E. Trentham, Sr. Library Partner Award
        </li>
        <li style="margin: 10px">2024   Google Open Source Peer Bonus Award</li>
        <li style="margin: 10px">
          2024   Graduate Teaching Award, Department of Geography &
          Sustainability, UTK
        </li>
        <li style="margin: 10px">2023   Google Open Source Peer Bonus Award</li>
        <li style="margin: 10px">
          2023   International Geospatial Innovation Award, UK Ordnance Survey
        </li>
        <li style="margin: 10px">2022   CPGIS Innovation Award</li>
        <li style="margin: 10px">
          2022   Google Developer Expert (<a
            href="https://developers.google.com/community/experts"
            target="_blank"
            >GDE</a
          >) for Earth Engine
        </li>
        <li style="margin: 10px">
          2022   Early Career Research Award, College of Arts and Sciences,
          University of Tennessee, Knoxville
        </li>
        <li style="margin: 10px">
          2022   Better Scientific Software (<a
            href="https://bssw.io/blog_posts/introducing-the-2022-bssw-fellows"
            target="_blank"
            >BSSw</a
          >) Honorable Mention
        </li>
        <li style="margin: 10px">
          2020  
          <a
            href="https://mp.weixin.qq.com/s/p2lDuexyu8Uke6Vx9M8NxQ"
            target="_blank"
            >Global Young Scientist Award</a
          >, World Geospatial Developers Conference
        </li>
        <li style="margin: 10px">
          2018  
          <a href="https://www.microsoft.com/en-us/aiforearth" target="_blank"
            >AI for Earth Microsoft Azure and Esri Award</a
          >, Microsoft & Esri
        </li>
        <li style="margin: 10px">
          2017  
          <a href="files/awards/2017_Publons.pdf" target="_blank"
            >Top 1% of Peer Reviewers in Multidisciplinary</a
          >, Publons
        </li>
        <li style="margin: 10px">
          2017  
          <a href="files/awards/2017_Teaching_Award.pdf" target="_blank"
            >Harpur College's Teaching Award</a
          >
          - Best Instructor of Graduate Classes, Binghamton University
        </li>
        <li style="margin: 10px">
          2017  
          <a href="files/awards/2017_AAG_Research_Grant.pdf" target="_blank"
            >AAG Research Grant Award</a
          >. American Association of Geographers (AAG)
        </li>
        <li style="margin: 10px">
          2016  
          <a href="files/awards/publons_2016.pdf" target="_blank"
            >Sentinel of Science Award Recipient</a
          >
          (Top 10% of reviewers in the field of Earth and Planetary Sciences by
          Publons)
        </li>
      </ul>
    </div>
  </div>
</section>
