<!-- Links Section -->
    <section id="HEAD">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Useful Links</h2>
                </div>
            </div>
            <div class="container" align="left" >
              <p class="large">This webpage lists various useful links. Please
                <a href="https://wetlands.io#contact">contact me</a> if you have any questions.</p>
                <ul>
                  <li><a href="#rs-journals">Remote Sensing Journals</a></li>
                  <li><a href="#gis-journals">GIS &amp; Geography Journals</a></li>
                  <li><a href="#hydro-journals">Hydrology &amp; Wetlands Journals</a></li>
                  <li><a href="#literature">Literature Search</a></li>
                  <li><a href="#gis-software">GIS &amp; Remote Sensing Software</a></li>
                  <li><a href="#jobs">Geography Jobs</a></li>
                  <li><a href="#data-maps">Data &amp; Maps</a></li>
                  <li><a href="#tutorials">Tutorials</a></li>
                  <li><a href="#tools">Software Tools</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section id="rs-journals" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Remote Sensing Journals</h3>
                </div>
            </div>
            <div class="container" align="left" >
              <ul>
                  <li><a href="https://www.journals.elsevier.com/remote-sensing-of-environment/" target="_blank">Remote Sensing of Environment</a></li>
                  <li><a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?reload=true&amp;punumber=36" target="_blank">IEEE Transactions on Geoscience and Remote Sensing</a></li>
                  <li><a href="https://www.mdpi.com/journal/remotesensing" target="_blank">Remote Sensing</a></li>
                  <li><a href="https://www.journals.elsevier.com/isprs-journal-of-photogrammetry-and-remote-sensing/" target="_blank">ISPRS Journal of Photogrammetry and Remote Sensing</a></li>
                  <li><a href="https://www.tandfonline.com/toc/tres20/current" target="_blank">International Journal of Remote Sensing</a></li>
                  <li><a href="https://www.journals.elsevier.com/international-journal-of-applied-earth-observation-and-geoinformation/" target="_blank">International Journal of Applied Earth Observation and Geoinformation</a></li>
                  <li><a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=4609443" target="_blank">IEEE Journal of Selected Topics in Applied Earth Observations and Remote Sensing</a></li>
                  <li><a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=8859" target="_blank">IEEE Geoscience and Remote Sensing Letters</a></li>
                  <li><a href="https://www.asprs.org/Photogrammetric-Engineering-and-Remote-Sensing/PE-RS-Journals.html" target="_blank">Photogrammetric Engineering &amp; Remote Sensing</a></li>
                  <li><a href="https://www.tandfonline.com/toc/trsl20/current#.VetKnPlVhBc" target="_blank">Remote Sensing Letters</a></li>
                  <li><a href="https://spie.org/x3636.xml" target="_blank">Journal of Applied Remote Sensing</a></li>
              </ul>
            </div>
        </div>
    </section>

    <section id="gis-journals">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>GIS &amp; Geography Journals</h3>
                </div>
            </div>
            <div class="container" align="left" >
              <ul>
                  <li><a href="https://www.tandfonline.com/toc/tgis20/current#.VetLn_lVhBc" target="_blank">International Journal of Geographical Information Science</a></li>
                  <li><a href="https://www.tandfonline.com/loi/tgrs20#.VetQZvlVhBc" target="_blank">GIScience & Remote Sensing</a></li>
                  <li><a href="https://www.journals.elsevier.com/computers-and-geosciences/" target="_blank">Computers & Geosciences</a></li>
                  <li><a href="https://onlinelibrary.wiley.com/journal/10.1111/(ISSN)1467-9671" target="_blank">Transactions in GIS</a></li>
                  <li><a href="https://www.tandfonline.com/toc/tagi20/current#.VetL4flVhBc" target="_blank">Annals of GIS</a></li>
                  <li><a href="https://www.scirp.org/journal/jgis/" target="_blank">Journal of Geographic Information System</a></li>
                  <li><a href="https://www.mdpi.com/journal/ijgi" target="_blank">ISPRS International Journal of Geo-Information
                  </a></li>
                  <li><a href="https://www.journals.elsevier.com/applied-geography/" target="_blank">Applied Geography</a></li>
                  <li><a href="https://www.tandfonline.com/toc/raag20/current#.VetMK_lVhBc" target="_blank">Annals of the American Association of Geographers</a></li>
                  <li><a href="https://www.tandfonline.com/toc/rtpg20/current#.VetMTflVhBc" target="_blank">The Professional Geographer</a></li>
                  <li><a href="https://www.springer.com/earth+sciences+and+geography/geography/journal/11442" target="_blank">Journal of Geographical Sciences</a></li>
                  <li><a href="https://link.springer.com/journal/10708" target="_blank">GeoJournal</a></li>
                  <li><a href="https://onlinelibrary.wiley.com/journal/10.1111/(ISSN)1538-4632" target="_blank">Geographical Analysis</a></li>
                  <li><a href="https://ppg.sagepub.com/" target="_blank">Progress in Physical Geography</a></li>
                  <li><a href="https://agupubs.onlinelibrary.wiley.com/agu/journal/10.1002/(ISSN)1944-8007/" target="_blank">Geophysical Research Letters</a></li>
                  <li><a href="https://agupubs.onlinelibrary.wiley.com/agu/jgr/journal/10.1002/(ISSN)2169-9011/" target="_blank">Journal of Geophysical Research: Earth Surface</a></li>
                  <li><a href="https://www.scirp.org/journal/ajcc/" target="_blank">American Journal of Climate Change</a></li>
                  <li><a href="https://journal.frontiersin.org/journal/earth-science" target="_blank">Frontiers of Earth Science</a></li>
                  <li><a href="https://www.journals.elsevier.com/landscape-and-urban-planning/" target="_blank">Landscape and Urban Planning</a></li>
                  <li><a href="https://www.nature.com/nclimate/index.html" target="_blank">Nature Climate Change</a></li>
              </ul>
            </div>
        </div>
    </section>

    <section id="hydro-journals" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Hydrology &amp; Wetlands Journals</h3>
                </div>
            </div>
            <div class="container" align="left" >
              <ul>
                  <li><a href="https://www.springer.com/life+sciences/ecology/journal/13157" target="_blank">Wetlands</a></li>
                  <li><a href="https://link.springer.com/journal/11273" target="_blank">Wetlands Ecology and Management</a></li>
                  <li><a href="https://www.journals.elsevier.com/journal-of-hydrology/" target="_blank">Journal of Hydrology</a></li>
                  <li><a href="https://onlinelibrary.wiley.com/journal/10.1002/(ISSN)1099-1085" target="_blank">Hydrological Processes</a></li>
                  <li><a href="https://agupubs.onlinelibrary.wiley.com/agu/journal/10.1002/(ISSN)1944-7973/" target="_blank">Water Resources Research</a></li>
                  <li><a href="https://www.hydrol-earth-syst-sci.net/volumes_and_issues.html" target="_blank">Hydrology and Earth System Sciences</a></li>
                  <li><a href="https://www.mdpi.com/journal/water" target="_blank">Water</a></li>
                  <li><a href="https://www.journals.elsevier.com/advances-in-water-resources/" target="_blank">Advances in Water Resources</a></li>
                  <li><a href="https://www.tandfonline.com/toc/thsj20/current#.VetOqflVhBc" target="_blank">Hydrological Sciences Journal</a></li>
                  <li><a href="https://dl.sciencesocieties.org/publications/vzj" target="_blank">Vadose Zone Journal</a></li>
                  <li><a href="https://onlinelibrary.wiley.com/journal/10.1002/(ISSN)1936-0592" target="_blank">Ecohydrology</a></li>
                  <li><a href="https://www.journals.elsevier.com/environmental-modelling-and-software/" target="_blank">Environmental Modelling & Software</a></li>
                  <li><a href="https://www.jcronline.org/" target="_blank">Journal of Coastal Research</a></li>
              </ul>
            </div>
        </div>
    </section>

    <section id="literature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Literature Search</h3>
                </div>
            </div>
            <div class="container" align="left" >
              <ul>
                  <li><a href="https://scholar.google.com/" target="_blank">Google Scholar</a></li>
                  <li><a href="https://www.scopus.com" target="_blank">Scopus</a></li>
                  <li><a href="https://www.sciencedirect.com/" target="_blank">ScienceDirect</a></li>
                  <li><a href="https://ip-science.thomsonreuters.com/cgi-bin/jrnlst/jlresults.cgi?PC=K" target="_blank">Science Citation Index (SCI) - Journal List</a></li>
                  <li><a href="https://www.scimagojr.com/journalsearch.php" target="_blank">SCI Journal Search</a></li>
                  <li><a href="https://www.bioxbio.com/if/" target="_blank">Journal Impact Factor Search</a></li>
                  <li><a href="https://www.journalmetrics.com/" target="_blank">Journal Metrics</a></li>
              </ul>
            </div>
        </div>
    </section>

    <section id="gis-software" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>GIS &amp; Remote Sensing Software</h3>
                </div>
            </div>
            <div class="container" align="left" >
              <ul>
                  <li><a href="https://www.esri.com/" target="_blank">ArcGIS</a></li>
                  <li><a href="https://www.qgis.org/en/site/" target="_blank">QGIS</a></li>
                  <li><a href="https://grass.osgeo.org/" target="_blank">GRASS GIS</a></li>
                  <li><a href="https://www.uoguelph.ca/~hydrogeo/Whitebox/" target="_blank">Whitebox GAT</a></li>
                  <li><a href="https://www.saga-gis.org/en/index.html" target="_blank">SAGA GIS</a></li>
                  <li><a href="https://www.ecognition.com/" target="_blank">eCognition</a></li>
                  <li><a href="https://www.exelisvis.com/ProductsServices/ENVIProducts/ENVI.aspx" target="_blank">ENVI</a></li>
                  <li><a href="https://www.hexagongeospatial.com/products/remote-sensing/erdas-imagine" target="_blank">ERDAS IMAGINE</a></li>
                  <li><a href="https://www.pcigeomatics.com/software/geomatica/professional" target="_blank">PCI Geomatica</a></li>
              </ul>
            </div>
        </div>
    </section>

    <section id="jobs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Geography Jobs</h3>
                </div>
            </div>
            <div class="container" align="left" >
              <ul>
                  <li><a href="https://chroniclevitae.com/job_search?job_search[position_type]=78" target="_blank">Chronicle Vitae</a></li>
                  <li><a href="https://www.higheredjobs.com/faculty/search.cfm?JobCat=103" target="_blank">HigherEd</a></li>
                  <li><a href="https://jobs.aag.org/home/index.cfm?site_id=15004" target="_blank">AAG Career Center</a></li>
                  <li><a href="https://careers.agu.org/jobs/" target="_blank">AGU Career Center</a></li>
                  <li><a href="https://www.indeed.com/q-Assistant-Professor-of-geography-jobs.html" target="_blank">indeed</a></li>
                  <li><a href="https://www.geographyjobs.com/advanced_search_result.php?action=process&amp;keywords=&amp;category%5B%5D=2&amp;location%5B%5D=" target="_blank">GeographyJobs</a></li>
                  <li><a href="https://scholarlyhires.com/" target="_blank">ScholarlyHires</a></li>
                  <li><a href="https://www.mygisjobs.com/" target="_blank">MyGISJobs</a></li>
                  <li><a href="https://gisgig.com/" target="_blank">GIS GIG</a></li>
                  <li><a href="https://serc.carleton.edu/NAGTWorkshops/careerprep/jobsearch/index.html" target="_blank">Preparing for an Academic Career in the Geosciences</a></li>
              </ul>
            </div>
        </div>
    </section>

    <section id="data-maps" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Data &amp; Maps</h3>
                </div>
            </div>
            <div class="container" align="left" >
              <ul>
                  <li><a href="https://binghamton.policymap.com.proxy.binghamton.edu/maps" target="_blank">Online mapping of U.S. census data</a> (Binghamton account required)</li>
                  <li><a href="https://www.naturalearthdata.com/" target="_blank">Natural Earth Data</a></li>
                  <li><a href="https://earthexplorer.usgs.gov/" target="_blank">USGS Earth Explorer</a></li>
                  <li><a href="https://www.openstreetmap.org" target="_blank">OpenStreetMap</a></li>
                  <li><a href="https://sedac.ciesin.columbia.edu/" target="_blank">NASA's Socioeconomic Data and Applications Center (SEDAC)</a></li>
                  <li><a href="https://www.opentopography.org/" target="_blank">Open Topography</a></li>
                  <li><a href="https://www.diva-gis.org/Data" target="_blank">Diva GIS</a></li>
                  <li><a href="https://geodata.grid.unep.ch/" target="_blank">UNEP Environmental Data Explorer</a></li>
                  <li><a href="https://www.fao.org/geonetwork/srv/en/main.home" target="_blank">FAO GeoNetwork</a></li>
                  <li><a href="https://neo.sci.gsfc.nasa.gov/" target="_blank">NASA Earth Observations (NEO)</a></li>
                  <li><a href="https://www.iscgm.org/" target="_blank">ISCGM Global Map</a></li>
              </ul>
            </div>
        </div>
    </section>

    <section id="tutorials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Tutorials</h3>
                </div>
            </div>
            <div class="container" align="left" >
              <ul>
                  <li><a href="https://wetlands.io/tutorials/#ecognition">eCognition Object-oriented Classification</a></li>
                  <li><a href="https://support.pcigeomatics.com/hc/en-us" target="_blank">PCI Geomatica Tutorials</a></li>
              </ul>
            </div>
        </div>
    </section>

    <section id="tools" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Software Tools</h3>
                </div>
            </div>
            <div class="container" align="left" >
              <ul>
                  <li><a href="https://goo.gl/forms/1pjsLfBky76MOy0E2" target="_blank">Depression Identification Analyst</a></li>
               	  <li><a href="https://goo.gl/forms/CTtNwljAbjS6Kr8D2" target="_blank">Wetland Hydrology Analyst</a></li>
               	  <li><a title="download object orientated course manuel" href="https://goo.gl/forms/vRp4zxS5SZ" target="_blank">Coastal Analyst</a></li>
              </ul>
            </div>
        </div>
    </section>
