 <!-- research Modals -->
 {% for post in site.posts %}
    <div class="research-modal modal fade" id="researchModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            {{ post.description }}
                            <!-- <img src="img/research/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}"> -->
                            <!-- <p>{{ post.description }}</p> -->
                            <!-- <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul> -->
                            <br><br>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            <!-- <div  style="text-align:center; margin:0; padding:0; width:220px;"><embed src="//ra.revolvermaps.com/f/f.swf" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" wmode="window" allowScriptAccess="always" allowNetworking="all" width="220" height="110" flashvars="m=0&amp;i=02jz40cthmu&amp;r=0&amp;c=ff0000"></embed><br /><img src="//ra.revolvermaps.com/js/c/02jz40cthmu.gif" width="1" height="1" alt="" /><a href="http://www.revolvermaps.com/?target=enlarge&amp;i=02jz40cthmu&dm=4" target="_blank">Large Visitor Map</a></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
