<!-- Publications Section -->
<section id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Publications</h2>
        <h3 class="section-subheading">
          Total:
          <strong>72</strong>; First-author: <strong>15</strong>; Citations:
          <a
            href="https://scholar.google.com/citations?user=vmml4_0AAAAJ&hl=en"
            target="_blank"
            >Google Scholar</a
          >; Source code:
          <a
            href="https://figshare.com/authors/Qiusheng_Wu/6941777"
            target="_blank"
            >Figshare</a
          >
          |
          <a href="https://github.com/opengeos" target="_blank">GitHub</a>
        </h3>
      </div>
    </div>
    <div class="container" align="left">
      <ol>
        <li>
          <b>Wu, Q.</b>
          (2023). Sharing Work in Earth Engine - Basic UI and Apps. In:
          Cardille, J., Clinton, N., Crowley, M., & Saah, D. (Eds.),
          <b> <i> Cloud-based Remote Sensing with Google Earth Engine</i></b
          >.
          <a href="https://www.eefabook.org/" target="_blank"
            >https://www.eefabook.org</a
          >
        </li>
        <li>
          Chen. H., Yang. L., & <b>Wu, Q.</b> (2023). Enhancing Land Cover
          Mapping and Monitoring: An Interactive and Explainable Machine
          Learning Approach Using Google Earth Engine.
          <b> <i> Remote Sensing</i></b
          >, 15(18):4585.
          <a href="https://doi.org/10.3390/rs15184585" target="_blank"
            >10.3390/rs15184585</a
          >
        </li>
        <li>
          <b>Wu, Q.</b>, & Osco, L. P. (2023). samgeo: A Python package for
          segmenting geospatial data with the Segment Anything Model (SAM).
          <b> <i> Journal of Open Source Software</i></b
          >, 8(89), 5663.
          <a href="https://doi.org/10.21105/joss.05663" target="_blank"
            >10.21105/joss.05663</a
          >
        </li>
        <li>
          Wu, B., Song, Z.,
          <b>Wu, Q.</b>, Wu, J., & Yu. B. (2023). A Vegetation Nighttime
          Condition Index Derived From The Triangular Feature Space between
          Nighttime Light Intensity and Vegetation Index.
          <b> <i> IEEE Transactions on Geoscience and Remote Sensing</i></b
          >, vol. 61, pp. 1-15, 2023, Art no. 561811.
          <a href="https://doi.org/10.1109/TGRS.2023.3305457" target="_blank"
            >10.1109/TGRS.2023.3305457</a
          >
        </li>
        <li>
          Crowley, M. A., Stuhlmacher, M., Trochim, E. D., Van Den Hoek, J.,
          Pasquarella, V. J., Szeto, S. H., …, Markert, K.,
          <b>Wu, Q.</b>, et al. (2023). Pillars of cloud-based Earth observation
          science education. <b> <i> AGU Advances</i></b
          >, 4, e2023AV000894.
          <a href="https://doi.org/10.1029/2023AV000894" target="_blank"
            >10.1029/2023AV000894</a
          >
        </li>
        <li>
          Lane, C. R., D'Amico, E., Christensen, J. R., Golden, H. E.,
          <b>Wu, Q.</b>, & Rajib, A. (2023). Mapping Global Non-Floodplain
          Wetlands. <b> <i> Earth System Science Data</i></b
          >, 15, 2927–2955.
          <a href="https://doi.org/10.5194/essd-15-2927-2023" target="_blank"
            >10.5194/essd-15-2927-2023</a
          >
        </li>
        <li>
          Evenson, G.R., Golden, H.E., Christensen, J.R., Lane, C.R., Kalcic,
          M.M., Rajib, A.,
          <b>Wu, Q.</b>, et al. (2023). River Basin Simulations Reveal
          Wide-Ranging Wetland-Mediated Nitrate Reductions.
          <b> <i> Environmental Science and Technology</i></b
          >, 26: 1-28.
          <a href="https://doi.org/10.1021/acs.est.3c02161" target="_blank"
            >10.1021/acs.est.3c02161</a
          >
        </li>
        <li>
          Lane, C.R., Creed, I.F., Golden, H.E., Leibowitz, S.G., Mushet, D.M.,
          Rains, M.C.,
          <b>Wu, Q.</b>, et al. (2023). Vulnerable Waters are Essential to
          Watershed Resilience. <b><i> Ecosystems</i></b
          >, 26: 1-28.
          <a href="https://doi.org/10.1007/s10021-021-00737-2" target="_blank"
            >10.1007/s10021-021-00737-2</a
          >
        </li>
        <li>
          Wu, B., Yang, C.,
          <b>Wu, Q.</b>, Wang, C., Wu, J., & Yu, B. (2023). A building volume
          adjusted nighttime light index for characterizing the relationship
          between urban population and nighttime light intensity.
          <b> <i> Computers, Environment and Urban Systems</i></b
          >, 99, 101911.
          <a
            href="https://doi.org/10.1016/j.compenvurbsys.2022.101911"
            target="_blank"
            >10.1016/j.compenvurbsys.2022.101911</a
          >
        </li>
        <li>
          Shi, D.,
          <b>Wu, Q.</b>, Shi, Y., Li, Z., Xia, B., Chen, Y., ... & Li, Y.
          (2022). Multidimensional assessment of soil conservation ecosystem
          services and multiscale analysis of influencing mechanisms.
          <b> <i> Journal of Cleaner Production</i></b
          >, 135162.
          <a
            href="https://doi.org/10.1016/j.jclepro.2022.135162"
            target="_blank"
            >10.1016/j.jclepro.2022.135162</a
          >
        </li>
        <li>
          Zhou, Y., Li, X., Chen, W., Meng, L.,
          <b>Wu, Q.</b>, Gong, P., & Seto, K. C. (2022). Satellite mapping of
          urban built-up heights reveals extreme infrastructure gaps and
          inequalities in the Global South.
          <b> <i> Proceedings of the National Academy of Sciences</i></b
          >, 119(46), e2214813119.
          <a href="https://doi.org/10.1073/pnas.2214813119" target="_blank"
            >10.1073/pnas.2214813119</a
          >
        </li>
        <li>
          Yang, L., Driscol, J., Sarigai, S.,
          <b>Wu, Q.</b>, Chen H., & Lippitt C.D. (2022). Google Earth Engine and
          Artificial Intelligence (AI): A Comprehensive Review.
          <b> <i> Remote Sensing</i></b
          >, 14(14):3253.
          <a href="https://doi.org/10.3390/rs14143253" target="_blank"
            >10.3390/rs14143253</a
          >
        </li>
        <li>
          Chen, Z., Yu, B., Li, Y.,
          <b>Wu, Q.</b>, Wu, B., Huang, Y., ... & Wu, J. (2022). Assessing the
          potential and utilization of solar energy at the building-scale in
          Shanghai. <b> <i> Sustainable Cities and Society</i></b
          >, 103917.
          <a href="https://doi.org/10.1016/j.scs.2022.103917" target="_blank"
            >10.1016/j.scs.2022.103917</a
          >
        </li>
        <li>
          Yang, L., Driscol, J., Sarigai, S.,
          <b>Wu, Q.</b>, Lippitt, C.D., & Morgan, M. (2022). Towards Synoptic
          Water Monitoring Systems: A Review of AI Methods for Automating Water
          Body Detection and Water Quality Monitoring Using Remote Sensing.
          <b> <i> Sensors</i></b
          >, 22, 2416.
          <a href="https://doi.org/10.3390/s22062416" target="_blank"
            >10.3390/s22062416</a
          >
        </li>
        <li>
          Li, Y., Song, Z., Wu, B., Yu, B.,
          <b>Wu, Q.</b>, Hong, Y., Liu, S., & Wu, J. (2022). Evaluating the
          ability of NOAA-20 monthly composite data for socioeconomic indicators
          estimation and urban area extraction.
          <b>
            <i>
              IEEE Journal of Selected Topics in Applied Earth Observations and
              Remote Sensing</i
            > </b
          >.
          <a href="https://doi.org/10.1109/JSTARS.2022.3149028" target="_blank"
            >10.1109/JSTARS.2022.3149028</a
          >
        </li>
        <li>
          Lane, C.R., Creed, I.F., Golden, H.E., Leibowitz, S.G., Mushet, D.M.,
          Rains, M.C.,
          <b>Wu, Q.</b>, et al. (2022). Vulnerable Waters are Essential to
          Watershed Resilience. <b> <i> Ecosystems</i></b
          >.
          <a href="https://doi.org/10.1007/s10021-021-00737-2" target="_blank"
            >10.1007/s10021-021-00737-2</a
          >
        </li>
        <li>
          Wu, B., Yang, C., Chen, Z.,
          <b>Wu, Q.</b>, Yu, S., Wang, C., Li, Q., Wu, J., & Yu, B., (2022). The
          relationship between urban 2D/3D landscape pattern and nighttime light
          intensity.
          <b>
            <i>
              IEEE Journal of Selected Topics in Applied Earth Observations and
              Remote Sensing</i
            > </b
          >, 15, 478-489.
          <a href="https://doi.org/10.1109/JSTARS.2021.3135488" target="_blank"
            >10.1109/JSTARS.2021.3135488</a
          >
        </li>
        <li>
          Rajib, A., Zheng, Q., Golden, H.E,
          <b>Wu, Q.</b>, Lane, C.R., Christensen, J.R., et al. (2021). The
          changing face of floodplains in the Mississippi River Basin detected
          by a 60-year land use change dataset.
          <b> <i> Nature Scientific Data</i></b
          >, 8, 271.
          <a href="https://doi.org/10.1038/s41597-021-01048-w" target="_blank"
            >10.1038/s41597-021-01048-w</a
          >
        </li>
        <li>
          Hong, Y., Wu, B., Song, Z., Li, Y.,
          <b>Wu, Q.</b>, Chen, Z., et al., & Yu, B. (2021). A monthly night-time
          light composite dataset of NOAA-20 in China: a multi-scale comparison
          with S-NPP. <b> <i> International Journal of Remote Sensing</i></b
          >, 42:20, 7931-7951.
          <a
            href="https://doi.org/10.1080/01431161.2021.1969057"
            target="_blank"
            >10.1080/01431161.2021.1969057</a
          >
        </li>
        <li>
          Shi, D., Shi, Y., &
          <b>Wu, Q.</b>
          (2021). Multidimensional Assessment of Lake Water Ecosystem Services
          Using Remote Sensing.
          <b> <i>Remote Sensing</i></b
          >, 13(17), 3540.
          <a href="https://doi.org/10.3390/rs13173540" target="_blank"
            >10.3390/rs13173540</a
          >
        </li>
        <li>
          Evenson, E., Golden, H.E., Christensen, J.R., Lane, C.R., Rajib, A.,
          et al. &
          <b>Wu, Q.</b>
          (2021). Wetland restoration yields dynamic nitrate responses across
          the Upper Mississippi river basin.
          <b> <i>Environmental Research Communications</i></b
          >, 3 (2021) 095002.
          <a href="https://doi.org/10.1088/2515-7620/ac2125" target="_blank"
            >10.1088/2515-7620/ac2125</a
          >
        </li>
        <li>
          Golden, H.E., Lane, C.R., Rajib, A., &
          <b>Wu, Q.</b>
          (2021). Improving global flood and drought predictions: integrating
          non-floodplain wetlands into watershed hydrologic models.
          <b> <i>Environmental Research Letters</i></b
          >, 16 (2021) 091002.
          <a href="http://dx.doi.org/10.1088/1748-9326/ac1fbc" target="_blank"
            >http://dx.doi.org/10.1088/1748-9326/ac1fbc</a
          >
        </li>

        <li>
          <b>Wu, Q.</b>
          (2021). Leafmap: A Python package for interactive mapping and
          geospatial analysis with minimal coding in a Jupyter environment.
          <i> <b>Journal of Open Source Software</b> </i>, 6(63), 3414.
          <a href="https://doi.org/10.21105/joss.03414" target="_blank"
            >10.21105/joss.03414</a
          >
          (<a href="https://github.com/opengeos/leafmap" target="_blank">
            <font color="red">source code</font> </a
          >)
        </li>
        <li>
          Li, X., Zhang, J., Li, Z., Hu, T.,
          <b>Wu, Q.</b>, Yang., J., et al. (2021). Critical role of temporal
          contexts in evaluating urban cellular automata models.
          <i> <b>GIScience & Remote Sensing</b> </i>, 58(6), 799-811.
          <a
            href="https://doi.org/10.1080/15481603.2021.1946261"
            target="_blank"
            >10.1080/15481603.2021.1946261</a
          >
        </li>
        <li>
          Chen, H., Wu, B., Yu, B., Chen, Z.,
          <b>Wu, Q.</b>, Lian, T., Wang, C., Li, Q., Wu, J. (2021). A New Method
          for Building-Level Population Estimation by Integrating LiDAR,
          Nighttime Light, and POI Data.
          <i> <b>Journal of Remote Sensing</b> </i>, Article ID 9803796.
          <a href="https://doi.org/10.34133/2021/9803796" target="_blank"
            >10.34133/2021/9803796</a
          >
        </li>
        <li>
          <b>Wu, Q.</b>
          (2021). lidar: A Python package for terrain and hydrological analysis
          using digital elevation models.
          <i> <b>Journal of Open Source Software</b> </i>, 6(59), 2965.
          <a href="https://doi.org/10.21105/joss.02965" target="_blank"
            >10.21105/joss.02965</a
          >
          (<a href="https://github.com/opengeos/lidar" target="_blank">
            <font color="red">source code</font> </a
          >)
        </li>
        <li>
          Wang, S., Alexander, P.,
          <b>Wu, Q.</b>, Tedesco, M., & Shu, S. (2021). Characterization of ice
          shelf fracture features using ICESat-2 - a case study over the Amery
          Ice Shelf. <i> <b>Remote Sensing of Environment</b> </i>, 255, 112266.
          <a href="https://doi.org/10.1016/j.rse.2020.112266" target="_blank"
            >10.1016/j.rse.2020.112266</a
          >
        </li>
        <li>
          Wu, B., Yu, B., Shu, S.,
          <b>Wu, Q.</b>, Zhao, Y., & Wu, J. (2021). A spatiotemporal structural
          graph for detecting land cover changes.
          <i>
            <b>International Journal of Geographical Information Science</b> </i
          >, 35(2), 397-425.
          <a
            href="https://doi.org/10.1080/13658816.2020.1778706"
            target="_blank"
            >10.1080/13658816.2020.1778706</a
          >
        </li>
        <li>
          Shi, D., Shi, Y.,
          <b>Wu, Q.</b>, & Fang, R. (2020). Multidimensional Assessment of Food
          Provisioning Ecosystem Services Using Remote Sensing and Agricultural
          Statistics. <b> <i>Remote Sensing</i></b
          >, 12(23), 3955.
          <a href="https://doi.org/10.3390/rs12233955" target="_blank"
            >10.3390/rs12233955</a
          >
        </li>
        <li>
          Wang, L., Xu, M., Liu, Y., Liu, H., Beck, R.A., …, &
          <b>Wu, Q.</b>
          (2020). Mapping Freshwater Chlorophyll-a Concentrations at a Regional
          Scale Integrating Multi-Sensor Satellite Observations with Google
          Earth Engine.
          <b> <i>Remote Sensing</i></b
          >, 12(20), 3278.
          <a href="https://doi.org/10.3390/rs12203278" target="_blank"
            >10.3390/rs12203278</a
          >
        </li>
        <li>
          Amani, M., Ghorbanian, A., Ahmadi, A., Kakooei, M., ...,
          <b>Wu, Q.</b>, & Brisco, B. (2020). Google Earth Engine Cloud
          Computing Platform for Remote Sensing Big Data Applications: A
          Comprehensive Review.
          <b>
            <i
              >IEEE Journal of Selected Topics in Applied Earth Observations and
              Remote Sensing</i
            > </b
          >, 13, 5326–5350.
          <a href="https://doi.org/10.1109/JSTARS.2020.3021052" target="_blank"
            >10.1109/JSTARS.2020.3021052</a
          >
        </li>
        <li>
          Chen, W., Zhou, Y.,
          <b>Wu, Q.</b>, Chen, G., Huang, X., & Yu, B. (2020). Urban building
          type mapping using geospatial data: a case study of Beijing, China.
          <b> <i>Remote Sensing</i></b
          >, 12(17), 2805.
          <a href="https://doi.org/10.3390/rs12172805" target="_blank"
            >10.3390/rs12172805</a
          >
        </li>
        <li>
          Aybar, C.,
          <b>Wu, Q.</b>, Bautista, L., Yali, R., & Barja, A. (2020). rgee: An R
          package for interacting with Google Earth Engine.
          <i> <b>The Journal of Open Source Software</b> </i>, 5(51), 2272.
          <a href="https://doi.org/10.21105/joss.02272" target="_blank"
            >10.21105/joss.02272</a
          >
          (<a href="https://github.com/r-spatial/rgee" target="_blank">
            <font color="red">source code</font> </a
          >)
        </li>
        <li>
          <b>Wu, Q.</b>
          (2020). geemap: A Python package for interactive mapping with Google
          Earth Engine.
          <i> <b>Journal of Open Source Software</b> </i>, 5(51), 2305.
          <a href="https://doi.org/10.21105/joss.02305" target="_blank"
            >10.21105/joss.02305</a
          >
          (<a href="https://github.com/opengeos/geemap" target="_blank">
            <font color="red">source code</font> </a
          >)
        </li>
        <li>
          Rajib, A., Golden, H. E., Lane, C. R., &
          <b>Wu, Q.</b>
          (2020). Surface depression and wetland water storage improves major
          river basin hydrologic predictions.
          <b> <i>Water Resources Research</i></b
          >, 56(7), e2019WR026561.
          <a href="https://doi.org/10.1029/2019WR026561" target="_blank"
            >10.1029/2019WR026561</a
          >
        </li>
        <li>
          Liu, X., Huang, Y., Xu, X., Li, X., et al., &
          <b>Wu, Q.</b>, Huang, K., Estes, L., & Zeng, Z. (2020).
          High-spatiotemporal-resolution mapping of global urban change from
          1985 to 2015. <b> <i>Nature Sustainability</i></b
          >, 3, 564–570(2020)
          <a href="https://doi.org/10.1038/s41893-020-0521-x" target="_blank"
            >10.1038/s41893-020-0521-x</a
          >
        </li>
        <li>
          Berhane T., Lane, C. R., Mengistu, S., Christensen, J. R., Golden, H.
          E., Qiu, S., Zhu, Z., &
          <b>Wu, Q.</b>
          (2020). Land-cover changes to surface-water buffers in the Midwestern
          USA: 25 years of Landsat analyses (1993-2017).
          <b> <i>Remote Sensing</i></b
          >, 12(5), 754.
          <a href="https://doi.org/10.3390/rs12050754" target="_blank"
            >10.3390/rs12050754</a
          >
        </li>
        <li>
          Wang, C., Chen, Z., Yang, C., Li, Q.,
          <b>Wu, Q.</b>, Wu, J., Zhang, G., & Yu, B. (2020). Analyzing
          parcel-level relationships between Luojia 1-01 nighttime light
          intensity and artificial surface features across Shanghai, China: A
          comparison with NPP-VIIRS data.
          <b>
            <i
              >International Journal of Applied Earth Observation and
              GeoInformation</i
            > </b
          >, 85, 101989.
          <a href="https://doi.org/10.1016/j.jag.2019.101989" target="_blank"
            >10.1016/j.jag.2019.101989</a
          >
        </li>
        <li>
          Zhao, K., Wulder, M. A., Hu, T., Bright, R.,
          <b>Wu, Q.</b>, Qin, H., Li, Y., Toman, E., Mallick B., Zhang, X., &
          Brown, M. (2019). Detect change-point, trend, and seasonality in
          satellite time series data to track abrupt changes and nonlinear
          dynamics: A Bayesian ensemble algorithm.
          <b> <i>Remote Sensing of Environment</i></b
          >, 232, 111181.
          <a href="https://doi.org/10.1016/j.rse.2019.04.034" target="_blank"
            >10.1016/j.rse.2019.04.034</a
          >
          (<a
            href="https://cran.r-project.org/web/packages/Rbeast/index.html"
            target="_blank"
          >
            <font color="red">source code</font> </a
          >)
        </li>
        <li>
          Li, X., Zhou, Y., Meng, L., Asrar, G. R., Lu, C., &
          <b>Wu, Q.</b>
          (2019). A dataset of 30 m annual vegetation phenology indicators
          (1985–2015) in urban areas of the conterminous United States.
          <b> <i>Earth System Science Data</i></b
          >, 11(2), 881-894.
          <a href="https://doi.org/10.5194/essd-11-881-2019" target="_blank"
            >10.5194/essd-11-881-2019</a
          >
        </li>
        <li>
          Golden, H. E., Rajib, A., Lane, C. R., Christensen, J. R.,
          <b>Wu, Q.</b>, & Mengistu, S. (2019). Non-Floodplain Wetlands Affect
          Watershed Nutrient Dynamics: A Critical Review.
          <i> <b>Environmental Science & Technology</b> </i>, 53 (13),
          7203-7214.
          <a href="https://doi.org/10.1021/acs.est.8b07270" target="_blank"
            >10.1021/acs.est.8b07270</a
          >
        </li>
        <li>
          <b>Wu, Q.</b>, Lane, C. R., Li, X., Zhao, K., Zhou, Y., Clinton, N.,
          DeVries, B., Golden, H. E., & Lang, M. W. (2019). Integrating LiDAR
          data and multi-temporal aerial imagery to map wetland inundation
          dynamics using Google Earth Engine.
          <i> <b>Remote Sensing of Environment</b> </i>, 228, 1-13.
          <a href="https://doi.org/10.1016/j.rse.2019.04.015" target="_blank"
            >10.1016/j.rse.2019.04.015</a
          >
          (<a
            href="https://doi.org/10.6084/m9.figshare.8864921"
            target="_blank"
          >
            <font color="red">source code</font> </a
          >)
        </li>
        <li>
          Wu, B., Yu, B., Yao, S.,
          <b>Wu, Q.</b>, Chen, Z., & Wu, J. (2019). A surface network based
          method for studying urban hierarchies by night time light remote
          sensing data.
          <i>
            <b>International Journal of Geographical Information Science</b> </i
          >, 33(7), 1377-1398.
          <a
            href="https://doi.org/10.1080/13658816.2019.1585540"
            target="_blank"
            >10.1080/13658816.2019.1585540</a
          >
        </li>
        <li>
          <b>Wu, Q.</b>, Lane, C. R., Wang, L., Vanderhoof, M. K., Christensen,
          J. R., & Liu, H. (2019). Efficient Delineation of Nested Depression
          Hierarchy in Digital Elevation Models for Hydrological Analysis Using
          Level‐Set Method.
          <i>
            <b>JAWRA Journal of the American Water Resources Association</b> </i
          >, 55(2), 354-368.
          <a href="https://doi.org/10.1111/1752-1688.12689" target="_blank"
            >10.1111/1752-1688.12689</a
          >
          (<a
            href="https://doi.org/10.6084/m9.figshare.8865839"
            target="_blank"
          >
            <font color="red">source code</font> </a
          >)
        </li>
        <li>
          Beck, R., Xu, M., Zhan, S., Johansen, R., Liu, H., Tong, S., ... &
          <b>Wu, Q.</b>
          (2019). Comparison of satellite reflectance algorithms for estimating
          turbidity and cyanobacterial concentrations in productive freshwaters
          using hyperspectral aircraft imagery and dense coincident surface
          observations.
          <i> <b>Journal of Great Lakes Research</b> </i>, 45(3), 413-433.
          <a href="https://doi.org/10.1016/j.jglr.2018.09.001" target="_blank"
            >10.1016/j.jglr.2018.09.001</a
          >
        </li>
        <li>
          Yu, B., Tang, M.,
          <b>Wu, Q.</b>, Yang, C., Deng, S., Shi, K., ... & Chen, Z. (2018).
          Urban built-up area extraction from log-transformed NPP-VIIRS
          nighttime light composite data.
          <i> <b>IEEE Geoscience and Remote Sensing Letters</b> </i>, 15(8),
          1279-1283.
          <a href="https://doi.org/10.1109/LGRS.2018.2830797" target="_blank"
            >10.1109/LGRS.2018.2830797</a
          >
        </li>
        <li>
          Berhane, T. M., Lane, C. R.,
          <b>Wu, Q.</b>, Autrey, B. C., Anenkhonov, O., Chepinoga, V., & Liu, H.
          (2018). Decision-tree, rule-based, and random forest classification of
          high-resolution multispectral imagery for wetland mapping and
          inventory. <i> <b>Remote Sensing</b> </i>, 10(4), 580.
          <a href="https://doi.org/10.3390/rs10040580" target="_blank"
            >10.3390/rs10040580</a
          >
        </li>
        <li>
          <b>Wu, Q.</b>
          (2018). GIS and Remote Sensing Applications in Wetland Mapping and
          Monitoring. In: Huang, B. (Ed.),
          <i> <b>Comprehensive Geographic Information Systems</b> </i>, Vol. 2,
          pp. 140-157. Oxford: Elsevier.
          <a
            href="https://doi.org/10.1016/B978-0-12-409548-9.10460-9"
            target="_blank"
            >10.1016/B978-0-12-409548-9.10460-9</a
          >
        </li>
        <li>
          Berhane, T. M., Lane, C. R.,
          <b>Wu, Q.</b>, Anenkhonov, O., Chepinoga, V., Autrey, B. C., & Liu, H.
          (2018). Comparing pixel-and object-based approaches in effectively
          classifying wetland-dominated landscapes.
          <i> <b>Remote Sensing</b> </i>, 10(1), 46.
          <a href="https://doi.org/10.3390/rs10010046" target="_blank"
            >10.3390/rs10010046</a
          >
        </li>
        <li>
          Wu, B., Yu, B.,
          <b>Wu, Q.</b>, Chen, Z., Yao, S., Huang, Y., & Wu, J. (2018). An
          extended minimum spanning tree method for characterizing local urban
          patterns.
          <i>
            <b>International Journal of Geographical Information Science</b> </i
          >, 32(3), 450-475.
          <a
            href="https://doi.org/10.1080/13658816.2017.1384830"
            target="_blank"
            >10.1080/13658816.2017.1384830</a
          >
        </li>
        <li>
          Ye, Z., Liu, H., Chen, Y., Shu, S.,
          <b>Wu, Q.</b>, & Wang, S. (2017). Analysis of water level variation of
          lakes and reservoirs in Xinjiang, China using ICESat laser altimetry
          data (2003–2009). <i> <b>PloS One</b> </i>, 12(9), e0183800.
          <a href="https://doi.org/10.1371/journal.pone.0183800" target="_blank"
            >10.1371/journal.pone.0183800</a
          >
        </li>
        <li>
          <b>Wu, Q.</b>, & Lane, C. R. (2017). Delineating wetland catchments
          and modeling hydrologic connectivity using lidar data and aerial
          imagery. <i> <b>Hydrology and Earth System Sciences</b> </i>, 21(7),
          3579.
          <a href="https://doi.org/10.5194/hess-21-3579-2017" target="_blank"
            >10.5194/hess-21-3579-2017</a
          >
          (<a
            href="https://doi.org/10.6084/m9.figshare.8866025"
            target="_blank"
          >
            <font color="red">source code</font> </a
          >)
        </li>
        <li>
          Jia, Y., Huang, Y., Yu, B.,
          <b>Wu, Q.</b>, Yu, S., Wu, J., & Wu, J. (2017). Downscaling land
          surface temperature data by fusing Suomi NPP-VIIRS and landsat-8 TIR
          data. <i> <b>Remote Sensing Letters</b> </i>, 8(12), 1132-1141.
          <a
            href="https://doi.org/10.1080/2150704X.2017.1362125"
            target="_blank"
            >10.1080/2150704X.2017.1362125</a
          >
        </li>
        <li>
          Chen, Z., Yu, B., Song, W., Liu, H.,
          <b>Wu, Q.</b>, Shi, K., & Wu, J. (2017). A new approach for detecting
          urban centers and their spatial structure with nighttime light remote
          sensing.
          <i> <b>IEEE Transactions on Geoscience and Remote Sensing</b> </i>,
          55(11), 6305-6319.
          <a href="https://doi.org/10.1109/TGRS.2017.2725917" target="_blank"
            >10.1109/TGRS.2017.2725917</a
          >
        </li>
        <li>
          Wang, S.,
          <b>Wu, Q.*</b>, & Ward, D. (2017). Automated delineation and
          characterization of drumlins using a localized contour tree approach.
          <i>
            <b
              >International Journal of Applied Earth Observation and
              GeoInformation</b
            > </i
          >, 62, 144-156.
          <a href="https://doi.org/10.1016/j.jag.2017.06.006" target="_blank"
            >10.1016/j.jag.2017.06.006</a
          >
          (<a
            href="https://doi.org/10.6084/m9.figshare.8866400"
            target="_blank"
          >
            <font color="red">source code</font> </a
          >)
        </li>
        <li>
          Beck, R., Xu, M., Zhan, S., Liu, H., Johansen, R., Tong, S., ... &
          <b>Wu, Q.</b>
          (2017). Comparison of satellite reflectance algorithms for estimating
          phycocyanin values and cyanobacterial total biovolume in a temperate
          reservoir using coincident hyperspectral aircraft imagery and dense
          coincident surface observations.
          <i> <b>Remote Sensing</b> </i>, 9(6), 538.
          <a href="https://doi.org/10.3390/rs9060538" target="_blank"
            >10.3390/rs9060538</a
          >
        </li>
        <li>
          Wu, B., Yu, B.,
          <b>Wu, Q.</b>, Yao, S., Zhao, F., Mao, W., & Wu, J. (2017). A
          graph-based approach for 3D building model reconstruction from
          airborne LiDAR point clouds. <i> <b>Remote Sensing</b> </i>, 9(1), 92.
          <a href="https://doi.org/10.3390/rs9010092" target="_blank"
            >10.3390/rs9010092</a
          >
        </li>
        <li>
          <b>Wu, Q.</b>, Su, H., Sherman, D. J., Liu, H., Wozencraft, J. M., Yu,
          B., & Chen, Z. (2016). A graph-based approach for assessing
          storm-induced coastal changes.
          <i> <b>International Journal of Remote Sensing</b> </i>, 37(20),
          4854-4873.
          <a
            href="https://doi.org/10.1080/01431161.2016.1225180"
            target="_blank"
            >10.1080/01431161.2016.1225180</a
          >
        </li>
        <li>
          Wu, B., Yu, B.,
          <b>Wu, Q.</b>, Huang, Y., Chen, Z., & Wu, J. (2016). Individual tree
          crown delineation using localized contour tree method and airborne
          LiDAR data in coniferous forests.
          <i>
            <b
              >International Journal of Applied Earth Observation and
              Geoinformation</b
            > </i
          >, 52, 82-94.
          <a href="https://doi.org/10.1016/j.jag.2016.06.003" target="_blank"
            >10.1016/j.jag.2016.06.003</a
          >
        </li>
        <li>
          <b>Wu, Q.</b>, Deng, C., & Chen, Z. (2016). Automated delineation of
          karst sinkholes from LiDAR-derived digital elevation models.
          <i> <b>Geomorphology</b> </i>, 266, 1-10.
          <a
            href="https://doi.org/10.1016/j.geomorph.2016.05.006"
            target="_blank"
            >10.1016/j.geomorph.2016.05.006</a
          >
          (<a
            href="https://doi.org/10.6084/m9.figshare.8866178"
            target="_blank"
          >
            <font color="red">source code</font> </a
          >)
        </li>
        <li>
          Beck, R., Zhan, S., Liu, H., Tong, S., Yang, B., Xu, M., ... &
          <b>Wu, Q.</b>
          (2016). Comparison of satellite reflectance algorithms for estimating
          chlorophyll-a in a temperate reservoir using coincident hyperspectral
          aircraft imagery and dense coincident surface observations.
          <i> <b>Remote Sensing of Environment</b> </i>, 178, 15-30.
          <a href="https://doi.org/10.1016/j.rse.2016.03.002" target="_blank"
            >10.1016/j.rse.2016.03.002</a
          >
        </li>
        <li>
          <b>Wu, Q.</b>, & Lane, C. R. (2016). Delineation and quantification of
          wetland depressions in the Prairie Pothole Region of North Dakota.
          <i> <b>Wetlands</b> </i>, 36(2), 215-227.
          <a href="https://doi.org/10.1007/s13157-015-0731-6" target="_blank"
            >10.1007/s13157-015-0731-6</a
          >
          (<a
            href="https://doi.org/10.6084/m9.figshare.8866178"
            target="_blank"
          >
            <font color="red">source code</font> </a
          >)
        </li>
        <li>
          Wu, B., Yu, B., Huang, C.,
          <b>Wu, Q.</b>, & Wu, J. (2016). Automated extraction of ground surface
          along urban roads from mobile laser scanning point clouds.
          <i> <b>Remote Sensing Letters</b> </i>, 7(2), 170-179.
          <a
            href="https://doi.org/10.1080/2150704X.2015.1117156"
            target="_blank"
            >10.1080/2150704X.2015.1117156</a
          >
        </li>
        <li>
          <b>Wu, Q.</b>, Liu, H., Wang, L., & Deng, C. (2016). Evaluation of
          AMSR2 soil moisture products over the contiguous United States using
          in situ data from the International Soil Moisture Network.
          <i>
            <b
              >International Journal of Applied Earth Observation and
              GeoInformation</b
            > </i
          >, 45, 187-199.
          <a href="https://doi.org/10.1016/j.jag.2015.10.011" target="_blank"
            >10.1016/j.jag.2015.10.011</a
          >
        </li>
        <li>
          Su, H., Liu, H., &
          <b>Wu, Q.</b>
          (2015). Prediction of water depth from multispectral satellite
          imagery—The regression kriging alternative.
          <i> <b>IEEE Geoscience and Remote Sensing Letters</b> </i>, 12(12),
          2511-2515.
          <a href="https://doi.org/10.1109/LGRS.2015.2489678" target="_blank"
            >10.1109/LGRS.2015.2489678</a
          >
        </li>
        <li>
          <b>Wu, Q.</b>, Liu, H., Wang, S., Yu, B., Beck, R., & Hinkel, K.
          (2015). A localized contour tree method for deriving geometric and
          topological properties of complex surface depressions based on
          high-resolution topographic data.
          <i>
            <b>International Journal of Geographical Information Science</b> </i
          >, 29(12), 2041-2060.
          <a
            href="https://doi.org/10.1080/13658816.2015.1038719"
            target="_blank"
            >10.1080/13658816.2015.1038719</a
          >
          (<a
            href="https://doi.org/10.6084/m9.figshare.8866178"
            target="_blank"
          >
            <font color="red">source code</font> </a
          >)
        </li>
        <li>
          Lane, C. R., Liu, H., Autrey, B. C., Anenkhonov, O., Chepinoga, V., &
          <b>Wu, Q.</b>
          (2014). Improved wetland classification using eight-band high
          resolution satellite imagery and a hybrid approach.
          <i> <b>Remote Sensing</b> </i>, 6(12), 12187-12216.
          <a href="https://doi.org/10.3390/rs61212187" target="_blank"
            >10.3390/rs61212187</a
          >
        </li>
        <li>
          <b>Wu, Q.</b>, Lane, C. R., & Liu, H. (2014). An effective method for
          detecting potential woodland vernal pools using high-resolution LiDAR
          data and aerial imagery. <i> <b>Remote Sensing</b> </i>, 6(11),
          11444-11467.
          <a href="https://doi.org/10.3390/rs61111444" target="_blank"
            >10.3390/rs61111444</a
          >
        </li>
        <li>
          Townsend‐Small, A., Pataki, D. E., Liu, H., Li, Z.,
          <b>Wu, Q.</b>, & Thomas, B. (2013). Increasing summer river discharge
          in southern California, USA, linked to urbanization.
          <i> <b>Geophysical Research Letters</b> </i>, 40(17), 4643-4647.
          <a href="https://doi.org/10.1002/grl.50921" target="_blank"
            >10.1002/grl.50921</a
          >
        </li>
        <li>
          Beck, R. A., Hinkel, K. M., Eisner, W. R., Whiteman, D., Arp, C. D.,
          Machida, R., ... &
          <b>Wu, Q.</b>
          (2013). Contrasting Historical and Recent Breakup Styles on the Meade
          River of Arctic Alaska in the Context of a Warming Climate.
          <i> <b>American Journal of Climate Change</b> </i>, 2(02), 165-172.
          <a href="https://doi.org/10.4236/ajcc.2013.22016" target="_blank"
            >10.4236/ajcc.2013.22016</a
          >
        </li>
        <li>
          Liu, H., Wang, L., Sherman, D. J.,
          <b>Wu, Q.</b>, & Su, H. (2011). Algorithmic foundation and software
          tools for extracting shoreline features from remote sensing imagery
          and LiDAR data.
          <i> <b>Journal of Geographic Information System</b> </i>, 3(2),
          99-199.
          <a href="https://doi.org/10.4236/jgis.2011.32007" target="_blank"
            >10.4236/jgis.2011.32007</a
          >
        </li>
        <li>
          Liu, H., Wang, L., Sherman, D., Gao, Y., &
          <b>Wu, Q.</b>
          (2010). An object-based conceptual framework and computational method
          for representing and analyzing coastal morphological changes.
          <i>
            <b>International Journal of Geographical Information Science</b> </i
          >, 24(7), 1015-1041.
          <a href="https://doi.org/10.1080/13658810903270569" tabindex="_blank"
            >10.1080/13658810903270569</a
          >
        </li>
      </ol>
    </div>
  </div>
</section>
