<!-- Students Section -->
    <section id="students">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Graduate Students</h2>
                  <p>I am looking for self-motivated students interested in geospatial data science. Please <a href="mailto:qwu18@utk.edu">contact me</a> if you are interested in working in my research lab. </br> Find out more information about the application guideline from our <a href="https://gradschool.utk.edu/admissions/" target="_blank">Graduate School</a>
                    and the <a href="https://geography.utk.edu/graduates/on-line-application/" target="_blank">Geography Department</a>.</p>
              </div>
          </div>
          <div class="row text-center">
              <div class="col-md-4">
                  <a href="#students" class="image featured"><img src="images/utk-brochure-en-2.png" class="img-responsive img-centered" alt="" /></a>
									<h4 class="service-heading"><a href="#students">Current Grad Students</a></h4>

              </div>
              <div class="col-md-4">
                  <a href="https://liveutk-my.sharepoint.com/:b:/g/personal/qwu18_utk_edu/Eb_EPHo17KVNiI6PnzOgaFsB42gA0GI_E6qEVN18ORFYPQ?e=rrVlzc" class="image featured" target="_blank"><img src="images/utk-brochure-en.png" class="img-responsive img-centered" alt="" /></a>
									<h4 class="service-heading"><a href="https://liveutk-my.sharepoint.com/:b:/g/personal/qwu18_utk_edu/Eb_EPHo17KVNiI6PnzOgaFsB42gA0GI_E6qEVN18ORFYPQ?e=rrVlzc" target="_blank">UTK Brochure (English)</a></h4>
			
              </div>
              <div class="col-md-4">
                  <a href="https://liveutk-my.sharepoint.com/:b:/g/personal/qwu18_utk_edu/Ed0fQTxTUNJMldQJ5GVanlMBKUG3t1Z6XpcRhK_kZXWt5w?e=55FWrm" class="image featured" target="_blank"><img src="images/utk-brochure-cn.png" class="img-responsive img-centered" alt="" /></a>
									<h4 class="service-heading"><a href="https://liveutk-my.sharepoint.com/:b:/g/personal/qwu18_utk_edu/Ed0fQTxTUNJMldQJ5GVanlMBKUG3t1Z6XpcRhK_kZXWt5w?e=55FWrm" target="_blank">UTK Brochure (Chinese)</a></h4>

              </div>
          </div>
      </div>
  </section>
