<!-- About Section -->
    <section id="students">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Graduate Students</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
                <div class="col-lg-6 col-lg-offset-2 text-left">
                    <p class="large text-muted">I am an Assistant Professor in the <a href="http://www.binghamton.edu/geography/" target="_blank">Department of Geography</a> at <a href="http://www.binghamton.edu/" target="_blank">Binghamton University</a>, State University of New York (<a href="https://baike.baidu.com/item/%E7%BA%BD%E7%BA%A6%E5%B7%9E%E7%AB%8B%E5%A4%A7%E5%AD%A6%E5%AE%BE%E6%B1%89%E5%A7%86%E9%A1%BF%E5%A4%A7%E5%AD%A6" target="_blank">纽约州立大学-宾汉姆顿</a>). My research interests focus on Geographical Information Science (GIS), remote sensing, and environmental modeling. More specifically, I am interested in the application of geospatial big data, machine learning, and cloud computing (e.g., Google Earth Engine, AWS, Microsoft Azure) to the study of the physical environment, such as the wetland ecosystems and water resources. Check out my <a href="#research">research</a> and <a href="#teaching">teaching</a> pages for more information about what I am currently working on.
                    </p>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
