<!-- Teaching Section -->
    <section id="teaching">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Teaching</h2>
                  <p class="text-muted">Courses I have taught: GEOG 533, GEOG 503A, GEOG 221, GEOG 121. Courses I am developing: GEOG 550, GEOG 566</p>
              </div>
          </div>
          <div class="row text-center">
              <div class="col-md-4">
                  <a href="images/geog533.png" target="_blank" class="image featured"><img src="images/geog533.png" class="img-responsive img-centered" alt="" /></a>
                  <h4 class="service-heading"><a href="images/geog533.png" target="_blank">Statistics for Geography</a></h4>
                  <p>GEOG 533</p>
              </div>
              <div class="col-md-4">
                  <a href="images/geog503.png" target="_blank" class="image featured"><img src="images/geog503.png" class="img-responsive img-centered" alt="" /></a>
                  <h4 class="service-heading"><a href="images/geog503.png" target="_blank">Programming in GIS</a></h4>
                  <p>GEOG 503A</p>
              </div>
              <div class="col-md-4">
                  <a href="images/geog221.png" target="_blank" class="image featured"><img src="images/geog221.png" class="img-responsive img-centered" alt="" /></a>
                  <h4 class="service-heading"><a href="images/geog221.png" target="_blank">Global Climate Change</a></h4>
                  <p>GEOG 221</p>
              </div>
          </div>
          <div class="row text-center">
              <div class="col-md-4">
                  <a href="images/geog121.png" target="_blank" class="image featured"><img src="images/geog121.png" class="img-responsive img-centered" alt="" /></a>
                  <h4 class="service-heading"><a href="images/geog121.png" target="_blank">Physical Geography</a></h4>
                  <p>GEOG 121</p>
              </div>
              <div class="col-md-4">
                  <a href="images/geog550.png" target="_blank" class="image featured"><img src="images/geog550.png" class="img-responsive img-centered" alt="" /></a>
                  <h4 class="service-heading"><a href="images/geog550.png" target="_blank">Web GIS</a></h4>
                  <p>GEOG 550</p>
              </div>
              <div class="col-md-4">
                  <a href="images/geog566.png" target="_blank" class="image featured"><img src="images/geog566.png" class="img-responsive img-centered" alt="" /></a>
                  <h4 class="service-heading"><a href="images/geog566.png" target="_blank">Spatial Statistics</a></h4>
                  <p>GEOG 566</p>
              </div>
          </div>

      </div>
  </section>
