<!-- Teaching Section -->
<section id="teaching">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Teaching</h2>
                <p align="left">I was the winner of Binghamton University's <a
                        href="https://www.bupipedream.com/news/82465/students-nominate-three-harpur-professors-for-teaching-awards/"
                        target="_blank">Harpur College of Arts and Sciences 2017 Teaching Award - Best Instructor of
                        Graduate Classes</a>, receiving the most nominations among 384 different Harpur instructors
                    nominated by graduate students. Selected comments from students on teaching evaluation forms:</p>
            </div>
            <div class="container" align="left">
                <ul>
                    <li><i>“Very articulate and creative teaching method. Never a dull moment in class. Always makes
                            students feel appreciated and welcomed.”</i></li>
                    <li><i>“Professional and practical. Extremely versed in all fields of subject matter. Pushes
                            students to achieve more than they ever thought was possible. Always approachable and
                            supportive.”</i></li>
                    <li><i>“Dr. Wu is an awesome guy, and someone I honestly look to as a standard of professionalism
                            and self-motivation. I highly recommend him as a professor to anyone in the Geography
                            Department. He knows pretty much everything about ArcGIS, programming, stats … you name it.
                            Thanks to him, I’ve learned much more about my field and topics I had tried to tackle on my
                            own to no avail.”</i></li>
                    <li><i>“It’s honestly not hard to see why professor Wu would win such a prestigious award. He is
                            fiercely intelligent, yet humble. He is genuinely devoted to his job and goes above and
                            beyond to make sure his students are prepared to succeed.”</i></li>
                    <li><i>“Dr. Wu, I just wanted to thank you for giving me the opportunity to learn Python. It has
                            come in handy so many times in my new position as a GIS Analyst. I am able to solve data
                            integration and standardizing issues that otherwise would make processes impossible. So
                            thank you very much!!”</i></li>
                </ul>
            </div>
            <br>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <a href="images/geog503.png" target="_blank" class="image featured"><img src="images/geog503.png"
                        class="img-responsive img-centered" alt="" /></a>
                <h4 class="service-heading"><a href="images/geog503.png" target="_blank">First Steps in GIS
                        Programming</a></h4>
                <p>GEOG-312 @ University of Tennessee</p>
            </div>
            <div class="col-md-4">
                <a href="images/geog533.png" target="_blank" class="image featured"><img src="images/geog533.png"
                        class="img-responsive img-centered" alt="" /></a>
                <h4 class="service-heading"><a href="images/geog533.png" target="_blank">Statistics for Geography</a>
                </h4>
                <p>GEOG-533 @ Binghamton University</p>
            </div>
            <div class="col-md-4">
                <a href="images/geog221.png" target="_blank" class="image featured"><img src="images/geog221.png"
                        class="img-responsive img-centered" alt="" /></a>
                <h4 class="service-heading"><a href="images/geog221.png" target="_blank">Global Climate Change</a></h4>
                <p>GEOG-221 @ Binghamton University</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <a href="images/geog121.png" target="_blank" class="image featured"><img src="images/geog121.png"
                        class="img-responsive img-centered" alt="" /></a>
                <h4 class="service-heading"><a href="images/geog121.png" target="_blank">Physical Geography</a></h4>
                <p>GEOG-121 @ Binghamton University</p>
            </div>
            <div class="col-md-4">
                <a href="images/geog550.png" target="_blank" class="image featured"><img src="images/geog550.png"
                        class="img-responsive img-centered" alt="" /></a>
                <h4 class="service-heading"><a href="images/geog550.png" target="_blank">Web GIS</a></h4>
                <p>GEOG-550 @ Binghamton University</p>
            </div>
            <div class="col-md-4">
                <a href="images/geog566.png" target="_blank" class="image featured"><img src="images/geog566.png"
                        class="img-responsive img-centered" alt="" /></a>
                <h4 class="service-heading"><a href="images/geog566.png" target="_blank">Spatial Statistics</a></h4>
                <p>GEOG-566 @ Binghamton University</p>
            </div>
        </div>

    </div>
</section>