<!-- Tutorials Section -->
    <section id="HEAD">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tutorials</h2>
                </div>
            </div>
            <div class="container" align="left" >
              <p class="large">This webpage is designed for sharing tutorials, tools, data for geospatial analysis. Please
                <a href="http://wetlands.io#contact">contact me</a> if you have any questions.</p>
            </div>
        </div>
    </section>

    <section id="ecognition" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>eCognition Tutorials</h3>
                </div>
            </div>
            <div class="container" align="left" >
                <p class="large">The Object-oriented course manual covers each of the 8 online units as an Adobe PDF.</p>
                  <h4>Manual Download</h4>
                  <ul>
                      <li style="margin: 10px"><a title="download object orientated course manuel" href="http://spatial.binghamton.edu/files/tutorials/ecognition/object_orientated_course_manuel.pdf" target="_blank">Download the Object Oriented Manual</a> (5.46 MB)</li>
                  </ul>
                  <h4>Data Download</h4>
                  <ul>
                    <li style="margin: 10px"><a title="download unit 1 data" href="http://spatial.binghamton.edu/files/tutorials/ecognition/unit1.zip">Download Unit 1</a> (~200 MB) Definiens Introduction</li>
                    <li style="margin: 10px"><a title="download unit 2 data" href="http://spatial.binghamton.edu/files/tutorials/ecognition/unit2.zip">Download Unit 2</a> (~280 MB) Image Segmentation</li>
                    <li style="margin: 10px"><a title="download unit 3 data" href="http://spatial.binghamton.edu/files/tutorials/ecognition/unit3.zip">Download Unit 3</a> (56 KB) Nearest Neighbour Classification</li>
                    <li style="margin: 10px"><a href="http://spatial.binghamton.edu/files/tutorials/ecognition/unit4.zip">Download Unit 4</a> (~280 MB) Rule Based Classification</li>
                    <li style="margin: 10px"><a title="download unit 5 data" href="http://spatial.binghamton.edu/files/tutorials/ecognition/unit5.zip">Download Unit 5</a> (4.0 KB) Threshold Identification</li>
                    <li style="margin: 10px"><a title="download unit 6 data" href="http://spatial.binghamton.edu/files/tutorials/ecognition/unit6.zip">Download Unit 6</a> (8.0 KB) Working with Levels</li>
                    <li style="margin: 10px"><a title="download unit 7 data" href="http://spatial.binghamton.edu/files/tutorials/ecognition/unit7.zip">Download Unit 7</a> (~280 MB) Putting It All Together</li>
                    <li style="margin: 10px"><a title="download unit 8 data" href="http://spatial.binghamton.edu/files/tutorials/ecognition/unit8.zip">Download Unit 8</a> (210 MB) Calculating Image Thresholds</li>
                    <li style="margin: 10px"><a title="download unit 9 data" href="http://spatial.binghamton.edu/files/tutorials/ecognition/unit9.zip">Download Unit 9</a> (31.3 MB) Using Fuzzy Membership Functions      </li>
                  </ul>
            </div>
        </div>
    </section>
